.services-wrapper{
  display: flex;
  flex-direction: column;
}
.services{
  margin-left: auto;
  margin-right: auto;
  font-family: 'Fjalla One', sans-serif;
  font-size: 64px;
}

.service-container{
  display: flex;
  flex-direction: row;
}
.service-title{
  font-family: 'Fjalla One', sans-serif;
  font-size: 32px;
}
.service-description{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 24px;
}